<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Timothy Dunkel's portfolio">
  <meta name="author" content="Energy Lollipop">

  <!--  Essential META Tags -->
  <meta property="og:title" content="{{ .Params.title }} || Timothy Dunkel">
  <meta property="og:description" content="Timothy Dunkel's Portfolio">

  {{ if .Params.image -}}
  <meta property="og:image" content="{{ .Params.image | absURL }}">
  {{ else }}
  <meta property="og:image" content="https://timothydunkel.com/img/thumb.jpg">
  {{- end }}

  <meta property="og:url" content="{{ .Permalink }}">
  <meta name="twitter:card" content="summary_large_image">

  <!--  Non-Essential, But Recommended -->
  <meta property="og:site_name" content="{{ .Params.title }} | Timothy Dunkel">
  <meta name="twitter:image:alt" content="Timothy Dunkel's Portfolio">

  <title>Timothy Dunkel</title>

  <link rel="canonical" href="{{ .Permalink }}" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <style>
    a {
      text-decoration: none
    }
</style>


</head>
<body class="">

<div class="container" style="max-width: 800px">
  <main>
  <div class="py-5 text-center">
    <h2>Timothy Dunkel</h2>
    <a href="/about">About Me</a>&nbsp;&nbsp;&nbsp;<a href="/">Work</a>&nbsp;&nbsp;&nbsp;<a href="/contact">Contact</a> 
  </div>